





.imgContainer {
  height: 70px;
}
.imgContainer img {
  width: 70px;
  border-radius: 50%;
}

.aboutMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 60px 80px;
}

.aboutMainLeft,
.aboutMainRight {
  width: 50%;
}

.aboutMainLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutMainRight {
  display: flex;
  justify-content: flex-end;
}

.aboutSubHeading {
  margin: 0;
}
.aboutSubHeadingDetails {
  margin: 10px 0 32px;
  font-size: 1.5rem;
  text-wrap: balance;
}





@media screen and (max-width: 550px) {
  .aboutMain {
    padding: 3px 40px;
  }
}

@media screen and (max-width: 775px) {
  .imgContainer {
    height: 120px;
  }
  .imgContainer img {
    width: 100px;
  }
  .aboutMain {
    display: flex;
    flex-direction: column-reverse;
  }
  .aboutMainLeft,
  .aboutMainRight {
    width: 100%;
  }
}
