.sectionContainer {
  min-height: 100vh;
  position: relative;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  align-self: center;
}

.headerContainer h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.9rem;
  line-height: 57px;
  text-align: center;
  margin: 0;
  color: #000;
  letter-spacing: 0.2px;
}
.headerContainer p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  margin: 10px 0;
}

.imgContainer {
  height: 70px;
}
.imgContainer img {
  width: 70px;
  border-radius: 50%;
}

.aboutMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 60px 80px;
}

.aboutMainLeft,
.aboutMainRight {
  width: 50%;
}

.aboutMainLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutMainRight {
  display: flex;
  justify-content: flex-end;
}

.aboutSubHeading {
  margin: 0;
}
.aboutSubHeadingDetails {
  margin: 10px 0 32px;
  font-size: 1.5rem;
  text-wrap: balance;
}

.footerLink {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.015em;
}

.vectorFrame {
  position: absolute;
  z-index: -10;
  left: 0;
  bottom: 0;
  width: 55%;
}

.vectorFrame img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.homeBg {
  background: linear-gradient(39.97deg, #03d6f3 0.79%, #458ff6 79.79%);
}

@media screen and (max-width: 550px) {
  .aboutMain {
    padding: 3px 40px;
  }
}

@media screen and (max-width: 775px) {
  .imgContainer {
    height: 120px;
  }
  .imgContainer img {
    width: 100px;
  }
  .aboutMain {
    display: flex;
    flex-direction: column-reverse;
  }
  .aboutMainLeft,
  .aboutMainRight {
    width: 100%;
  }
}


