.homeContainer {
  background: linear-gradient(39.97deg, #03d6f3 0.79%, #458ff6 79.79%);
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: 100px 10%;
  box-sizing: border-box;
  min-height: 100vh;
}

.headerText,
.homeContainer {
  display: flex;
  flex-direction: column;
}

.headerText {
  text-align: center;
}

.headerText h1,
.headerText p {
  margin: 10px;
}

.headerText h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
}

.headerText p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #e5e5e5;
}

.headerBtns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 35px 10px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 36px;
  height: 52px;
  text-decoration: none;
  left: 0;
  top: 0;
  box-shadow: 0 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 36px;
  margin: 4px;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 1px 10px 32px rgba(0, 0, 0, 0.45);
  }
}

.btnWhite {
  background-color: #fff;
  color: #112d57;
}

.btnTransparent {
  border: 1px solid #fff;
  color: #fff;
  box-sizing: border-box;
}

.splashImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.splashImage > div {
  width: 100%;
  height: 100%;
}
